<div class="col-xs-12">
    <div class="row">
        <h1 class="page-header">
            Liste des joueurs connectés
        </h1>
    </div>
    <div class='row'>
        <div class="col-xs-12">
            <div class="panel panel-primary relative-div">
                <div class='chargement text-center' *ngIf="!viewIsLoad">
                    <h2>Chargement</h2>
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
                <div class="panel-heading">
                    <i class="fa fa-list-ul"></i>
                    {{numberPlayers}} joueurs connectés
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2 col-sm-3">
                            <input id="filter-field" class="form-control" [(ngModel)]="filterQuery" placeholder="Filtrer"/>
                        </div>
                        <div class="col-lg-2 col-sm-3 select-div">
                            <select id="filter-list" class="form-control input-md" [(ngModel)]="filterField">
                                <option value="name">Joueur</option>
                                <option value="current_empire">Empire</option>
                            </select>
                        </div>
                    </div>
                    <div class='row table-row'>
                        <div class="col-xs-12">
                            <table class="table table-striped table-hover table-bordered table-select" [mfData]="data | dataFilter : filterQuery : filterField" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                                <thead>
                                <tr>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="id">Id</mfDefaultSorter>
                                    </th>
                                    <th style="width: 30%">
                                        <mfDefaultSorter by="name">Joueur</mfDefaultSorter>
                                    </th>
                                    <th style="width: 30%">
                                        <mfDefaultSorter by="current_empire">Empire</mfDefaultSorter>
                                    </th>
                                    <th style="width: 30%">
                                        <mfDefaultSorter by="timestamp_login">Connexion</mfDefaultSorter>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class='tr-table' title='Sélectionner ce joueur' *ngFor="let item of mf.data" (click)="modalSelectionOpen(item); modalSelection.open()">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td><img class="image-empire" src="{{item.urlEmpireImage}}"> {{item.current_empire}}</td>
                                    <td>{{item.timestamp_login}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-general-graph></app-general-graph>

</div>

<modal #modalSelection>
    <modal-header>
        <h1>Vous avez cliqué sur la ligne de <small><strong>{{selectedLineJoueur}} ({{selectedLineId}})</strong></small>, que voulez-vous faire ?</h1>
    </modal-header>
    <modal-content>
        <div class="row row-button"><button class="btn btn-primary" (click)="templateWindow.open(urlStats+selectedLineId+'.html'); modalSelection.close()"><i class="fa fa-address-card"></i></button> <strong>Consulter son profil sur hazeron.com</strong></div>
        <div class="row row-button"><button class="btn btn-success" routerLink="/player-details/{{selectedLineId}}" (click)="modalSelection.close()"><i class="fa fa-bar-chart"></i></button> <strong>Consulter ses statistiques sur le scanner</strong></div>
        <div class="row row-button"><button class="btn btn-warning" routerLink="/empire-details" (click)="modalSelection.close()"><i class="fa fa-bank"></i></button> <strong>Consulter les statistiques de son empire sur le scanner</strong></div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-secondary" (click)="modalSelection.close()">Annuler</button>
    </modal-footer>
</modal>
