<table class="table table-striped table-hover" [mfData]="data | dataFilter : filterQuery : filterField" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <div class='chargement text-center' *ngIf="!viewIsLoad">
        <h2>Chargement</h2>
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
    <thead>
        <tr>
               <td><label for="filter-field">Filtrer:</label><input id="filter-field" class="form-control input-33" [(ngModel)]="filterQuery"/></td>
               <td class="vcenter td-radio"><input type="radio" id="filter-radio-1" name="filterField" [(ngModel)]="filterField" value="joueur"/> <label for="filter-radio-1">Joueur</label>
               <input type="radio" id="filter-radio-2" name="filterField" [(ngModel)]="filterField" value="empire"/> <label for="filter-radio-2">Empire</label></td>
       </tr>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="id">Id</mfDefaultSorter>
        </th>
        <th style="width: 30%">
            <mfDefaultSorter by="joueur">Joueur</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="empire">Empire</mfDefaultSorter>
        </th>
        <th style="width: 30%">
            <mfDefaultSorter by="connexion">Connexion</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class='tr-table' *ngFor="let item of mf.data">
        <td>{{item.id}}</td>
        <td>{{item.joueur}}</td>
        <td><img class="image-empire" src="{{item.urlImageEmpire}}"> {{item.empire}}</td>
        <td>{{item.connexion}}</td>
    </tr>
    </tbody>
</table>
