
<div class="row relative-div">
    <div class='chargement text-center' *ngIf="!viewIsLoad">
        <h2>Chargement</h2>
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
    <div class="col-xs-12 col-lg-6">
        <fusioncharts
            width="640"
            height="350"
            type="line"
            dataFormat="JSON"
            [dataSource]="dataSource"
            [events]="eventsLine"
        >
        </fusioncharts>
        <p *ngIf="selectedLineValue!=''">
            <strong>Vous avez sélectionné : {{ selectedLineValue }}</strong>
        </p>
        <!-- jsonurl avec dataSource="url/.." -->
    </div>
    <div class="col-xs-12 col-lg-6">
        <span class="pull-right">
            <fusioncharts
                width="640"
                height="350"
                type="column2d"
                dataFormat="JSON"
                [dataSource]="dataSourceBars"
                [events]="eventsColumn"
            ></fusioncharts>
            <p *ngIf="selectedColumnValue!=''">
                <strong>Vous avez sélectionné :  {{ selectedColumnValue }}</strong>
            </p>
        </span>
    </div>
</div>
<table *ngIf="showTable" class="table table-striped table-hover table-select" [mfData]="tableData | dataFilter : filterQuery : filterField" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <div class='chargement text-center' *ngIf="!tableIsLoad">
        <h2>Chargement</h2>
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
    <thead>
        <tr>
               <td><input id="filter-field" class="form-control input-33" [(ngModel)]="filterQuery" placeholder="Filtrer"/></td>
               <td class="vcenter td-radio"><input type="radio" id="filter-radio-1" name="filterField" [(ngModel)]="filterField" value="joueur"/> <label for="filter-radio-1">Joueur</label><strong *ngIf="showEmpire"> ou </strong>
               <input *ngIf="showEmpire" type="radio" id="filter-radio-2" name="filterField" [(ngModel)]="filterField" value="empire"/> <label *ngIf="showEmpire" for="filter-radio-2">Empire</label></td>
       </tr>
    <tr>
        <th style="width: 10%">
            <mfDefaultSorter by="id">Id</mfDefaultSorter>
        </th>
        <th style="width: 30%">
            <mfDefaultSorter by="joueur">Joueur</mfDefaultSorter>
        </th>
        <th style="width: 30%" *ngIf="showEmpire">
            <mfDefaultSorter by="empire">Empire</mfDefaultSorter>
        </th>
        <th style="width: 30%">
            <mfDefaultSorter by="connexion">Dernière connexion</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class='tr-table' title='Sélectionner ce joueur' *ngFor="let item of mf.data" (click)="modalSelectionOpen(item)">
        <td>{{item.id}}</td>
        <td>{{item.player}}</td>
        <td *ngIf="showEmpire"><img class="image-empire" src="{{item.urlEmpireImage}}"> {{item.empire}}</td>
        <td>{{item.connection}}</td>
    </tr>
    </tbody>
</table>


<modal #modalSelection>
    <modal-header>
        <h1>Vous avez cliqué sur la ligne de <small><strong>{{selectedLineJoueur}} ({{selectedLineId}})</strong></small>, que voulez-vous faire ?</h1>
    </modal-header>
    <modal-content>
        <div class="row row-button"><button class="btn btn-primary" (click)="modalSelectionClose('statsHazeron')"><i class="fa fa-address-card"></i></button> <strong>Consulter ses statistiques sur hazeron.com</strong></div>
        <div class="row row-button"><button class="btn btn-success" routerLink="" (click)="modalSelectionClose()"><i class="fa fa-bar-chart"></i></button> <strong>Consulter ses statistiques sur le scanner</strong></div>
        <div class="row row-button"><button class="btn btn-warning" routerLink="" (click)="modalSelectionClose()"><i class="fa fa-bank"></i></button> <strong>Consulter les statistiques de son empire sur le scanner</strong></div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-secondary" (click)="modalSelection.close()">Annuler</button>
    </modal-footer>
</modal>
