
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="panel panel-green relative-div">
            <div class='chargement text-center' *ngIf="!byDateIsLoad">
                <h2>Chargement</h2>
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div class="panel-heading">
                {{captionByDate}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <select id="filter-by-date" class="form-control input-md" [(ngModel)]="scaleByDate" (change)="reloadByDateGraph()">
                            <option value="mois">Mois</option>
                            <option value="jour">Jour</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <input type="text" class="datepicker input-md">
                    </div>
                </div>
                <fusioncharts
                    width="100%"
                    height="350"
                    type="line"
                    dataFormat="JSON"
                    [dataSource]="dataSource"
                    [events]="eventsLine"
                >
                </fusioncharts>
                <p *ngIf="selectedLineValue!=''">
                    <strong>Vous avez sélectionné : {{ selectedLineValue }}</strong>
                </p>
            </div>
            <!-- jsonurl avec dataSource="url/.." -->
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="panel panel-red relative-div">
            <div class='chargement text-center' *ngIf="!byEmpireIsLoad">
                <h2>Chargement</h2>
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div class="panel-heading">
                {{captionByEmpire}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <select id="filter-by-empire" class="form-control input-md" [(ngModel)]="scaleByEmpire" (change)="reloadByEmpireGraph()">
                            <option value="mois précédent">Dernier mois</option>
                            <option value="semaine précédente">Dernière semaine</option>
                        </select>
                    </div>
                </div>
                <fusioncharts
                    width="100%"
                    height="350"
                    type="column2d"
                    dataFormat="JSON"
                    [dataSource]="dataSourceBars"
                    [events]="eventsColumn"
                ></fusioncharts>
                <p *ngIf="selectedColumnValue!=''">
                    <strong>Vous avez sélectionné :  {{ selectedColumnValue }}</strong>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="showTable" >
    <div class="col-xs-12">
        <div class="panel panel-primary relative-div">
            <div class='chargement text-center' *ngIf="!tableIsLoad">
                <h2>Chargement</h2>
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div class="panel-heading">
                <span *ngIf="selectedLineValue">Liste des joueurs actifs, {{selectedLineValue}}</span>
                <span *ngIf="selectedColumnValue">Liste des joueurs actifs du {{selectedColumnValue}}, {{scaleByEmpire}}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2 col-sm-3">
                        <input id="filter-field-graph" class="form-control" [(ngModel)]="filterQueryGraph" placeholder="Filtrer"/>
                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <select id="filter-point-data" [(ngModel)]="filterFieldGraph" class="form-control input-md">
                            <option value="player">Joueur</option>
                            <option value="empire">Empire</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="overflow-x:auto;">
                    <table class="table table-striped table-hover table-bordered table-select" [mfData]="tableData | dataFilter : filterQueryGraph : filterFieldGraph" #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPageGraph" [(mfSortBy)]="sortByGraph" [(mfSortOrder)]="sortOrderGraph">
                        <thead>
                        <tr>
                            <th style="width: 10%">
                                <mfDefaultSorter by="id">Id</mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                <mfDefaultSorter by="player">Joueur</mfDefaultSorter>
                            </th>
                            <th style="width: 30%" *ngIf="showEmpire">
                                <mfDefaultSorter by="empire">Empire</mfDefaultSorter>
                            </th>
                            <th style="width: 30%">
                                <mfDefaultSorter by="connection">Dernière connexion</mfDefaultSorter>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class='tr-table' title='Sélectionner ce joueur' *ngFor="let item of mf2.data" (click)="modalSelectionOpen(item); modalSelection.open()">
                            <td>{{item.id}}</td>
                            <td>{{item.player}}</td>
                            <td *ngIf="showEmpire"><img class="image-empire" src="{{item.urlEmpireImage}}"> {{item.empire}}</td>
                            <td>{{item.connection}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<modal #modalSelection>
    <modal-header>
        <h1>Vous avez cliqué sur la ligne de <small><strong>{{selectedLineJoueur}} ({{selectedLineId}})</strong></small>, que voulez-vous faire ?</h1>
    </modal-header>
    <modal-content>
        <div class="row row-button"><button class="btn btn-primary" (click)="templateWindow.open(urlStats+selectedLineId+'.html'); modalSelection.close()"><i class="fa fa-address-card"></i></button> <strong>Consulter son profil sur hazeron.com</strong></div>
        <div class="row row-button"><button class="btn btn-success" routerLink="/player-details/{{selectedLineId}}" (click)="modalSelection.close()"><i class="fa fa-bar-chart"></i></button> <strong>Consulter ses statistiques sur le scanner</strong></div>
        <div class="row row-button"><button class="btn btn-warning" routerLink="/empire-details" (click)="modalSelection.close()"><i class="fa fa-bank"></i></button> <strong>Consulter les statistiques de son empire sur le scanner</strong></div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-secondary" (click)="modalSelection.close()">Annuler</button>
    </modal-footer>
</modal>
