.image-empire{
    width:30px;
}

.table{
    position: relative;
}

.relative-div{
    position: relative;
}

.chargement{
    position:absolute;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    top: 0;
    min-height: 400px;
    color: white;
    z-index: 1000;
}

.table-select tbody tr {
    cursor: pointer;
}

.row-button{
    margin-top: 5px;
    margin-left: 3px;
}
